.wrap {
    display: flex;
    flex-direction: column;
    border-radius: 0.8rem;
    width: 50%;
    margin: 100px auto;
    background: black;
    height: 750px;
    font-family: 'Montserrat';
}

/* 상단 박스 */
.main-title-wrapper {
    text-align-last: left;
    background: #7f5cd9;
    height: 50%;
    position: relative;
    padding: 30px;
}

.main-title-wrapper h1 {
    font-size: 4rem;
    font-weight: 500;
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.main-title-wrapper .iconSection {
    height: 30px;
    /* background: #684b78; */
}


/* 하단 박스 공통 영역 */
.main-content-wrapper{
    margin: 0;
    display: flex;
    height: 50%;
    padding: 0 30px 30px 30px;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #b5b5b5;
}

.add-btn {
    width: 29.5%;
    height: 80px;
    padding: 13px;
    border-radius: 0.7rem;
    background: #b5b5b5;
    display: flex;
    color: white;
}
.main-content-wrapper .add-btn h4{
    color: white;
}

.card-container {
    width: 29.5%;
    background: #b5b5b5;
    height: 80px;
    padding: 13px;
    border-radius: 0.7rem;
}

.card-title-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5px;
}

/* 소주제 */
.sub-title {
    font-size: 1.3rem;
    color: #b5b5b5;
    padding: 20px 0px 10px 30px;
}

/* 타이틀 영역 */
.card-container .card-btn-group {
    display: flex;
}

.card-container .card-btn-group .del-btn {
    outline: none;
    background: none;
    border: none;
    font-weight: 100;
    cursor: pointer;
    padding: 3px;
    margin-left: auto;
}

.card-title {
    font-size: 1.15rem;
    font-weight: 500;
    margin-bottom: 6px;
}

/* 조회수, 시간 영역 */
.time-view-wrapper {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.75em;
    font-weight: 300;
}

.time-view-wrapper .time {
    margin-right: 5px;
}

/* 내용 영역 */
.card-content {
    /* padding-top: 5px; */
    font-weight: 400;
    font-size: 0.95rem;
    line-height: 19px;
}