.wrap {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 50%;
    margin: 100px auto;
    /* background: black; */
    height: 750px;
    font-family: 'Montserrat';
    background: black;
}

/* 상단 박스 */
.main-title-wrapper {
    text-align-last: left;
    background: #7f5cd9;
    height: 40%;
    position: relative;
    padding: 30px;
    border-radius: 15px;
}

.main-title-wrapper h1 {
    font-size: 4rem;
    font-weight: 500;
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.main-title-wrapper .iconSection {
    height: 30px;
    /* background: #684b78; */
}


/* 하단 박스 공통 영역 */
.main-content-wrapper {
    background: black;
    height: 60%;
    border-radius: 15px;
}

.content-wrapper {
    display: flex;
    padding: 0px 10px 10px 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content-wrapper {
    
}
/* 추가하기 버튼 */
.add-btn {
    width: 21.9%;
    height: 80px;
    padding: 13px;
    border-radius: 0.7rem;
    background: #232323;
    display: flex;
    position: relative;
    cursor: pointer;
 
}

.main-content-wrapper .add-btn h4 {
    color: white;
    font-size: 3rem;
    font-weight: 200;
    position: absolute;
    bottom: 10px;
}
.add-btn button{
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 2rem;
    position: absolute;
    right: 10px;
    cursor: pointer;
      font-size: 11px;
}
.add-btn:hover{
    background-color: #859193;
}

.add-btn .del-btn:hover{
    background-color: rgb(223, 223, 223);
    color: #859193;
}
/* 콘텐츠 박스 영역 */
.card-container {
    width: 21.9%;
    background: #a5aaab;
    height: 80px;
    padding: 13px;
    border-radius: 0.7rem;
    margin-bottom: 8px;
}

.card-container:nth-child(3n-2):hover{
    background: white;
}
.card-container:nth-child(3n-1):hover{
    background: papayawhip;
}
.card-container:nth-child(3n):hover{
    background: rgb(236, 177, 187);
}



.card-title-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5px;
}

/* 소주제 */
.sub-title-wrapper {
    font-size: 1.3rem;
    font-weight: 200;
    color: #b5b5b5;
    width: 100%;
    padding: 20px 20px 10px;
    height: fit-content;
}

/* 타이틀 영역 */
.card-container .card-btn-group {
    display: flex;
}

/* 삭제 버튼 영역 */
.card-container .card-btn-group .del-btn {
    outline: none;
    background: none;
    border: none;
    font-weight: 100;
    cursor: pointer;
    padding: 3px;
    margin-left: auto;
  
}

.card-title {
    font-size: 1.15rem;
    font-weight: 500;
    margin-bottom: 6px;
}

/* 조회수, 시간 영역 */
.time-view-wrapper {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.75em;
    font-weight: 300;
}

.time-view-wrapper .time {
    margin-right: 5px;
}

/* 내용 영역 */
.card-content {
    /* padding-top: 5px; */
    font-weight: 400;
    font-size: 0.95rem;
    line-height: 19px;
}