.detail-container{

}

.save-main-wrapper {
    /* display: flex;
    flex-direction: column; */
    border-radius: 15px;
    width: 60%;
    height: 750px;
    font-family: 'Montserrat';
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-wrapper{
    padding: 13px;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    
}
/* input공통 영역 */
.main-title, .main-content{
    background: #a5a5a5;
}
.main-title{
    font-size: 2rem;
    margin-bottom: 10px;
}
.main-content{
    height: 560px;
}
.button-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 13px;
    /* flex-direction: column; */
}
.button-wrapper a{
    font-size: 2.7rem;
    /* margin-right: 5px; */
    width: 290px;
    height: 80px;
    border-radius: 0.8rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}
.button-wrapper :nth-child(3){
    background: #7f5cd9;
}

.button-wrapper :nth-child(3):hover{
    background: white;
}